a {
    text-decoration: none;
}

a:-webkit-any-link {
    color:  #010038;
    cursor: pointer;
}

a:hover {
    color: #d3d3d3;
  }

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #010038;
}

p {
    font-family: 'Mulish', sans-serif;
    color: #010038;
    font-size: 17px;
}

body{
    background-color: #FCFFFD;
    margin-left: auto;
    margin-right: auto;
}
/* Header Section */

header {
    display: flex;
    align-items: center;
    margin-left: 142px;
    margin-right: 0;
    margin-top: 16px;
}

.nav_item{
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-family: 'Mulish', sans-serif;
    color: #010038;
    font-size: 17px;
    line-height: 150%;
}

.nav_item:hover{
    transform: scale(1.2,1.2);
}



.logo {
    width: 242px;
    margin-right: 600px;
    font-family: 'Satisfy', cursive;
    color: #F18C7E;
}

.navigation{
    display: inline-block; 
    list-style: none; 
}

.menu {
    display: none;
}

/* Header Section */


.hero{
    display: flex;
    height: 350px;
    margin-left: 142px;
    margin-right: 50px;
}

.content {
    width: 800px;

    
}

.andrea{
    font-family: 'Patua One', cursive;
    font-weight: bold;
    font-size: 44px;
    color: #010038;
    margin-top: 100px;
    margin-bottom: 0;
}

.name{
    color: #F18C7E;
}

.my_picture{
    height: 350px;
    width: 275px;
    float: right;
}

.andrea_pic_hidden {
    display: none;
}


/* Projects Section */

#projects{
   margin: 48px 133px 0 142px;

}

.special_h2 {
    font-family: 'Patua One', cursive;
    font-weight: bold;
    font-size: 32px;
    color: #010038;
    margin-top: 0px;
    margin-bottom: 40px;
}

.project_item{
    width: 1149px;
    margin-bottom: 94px;
}

.mockup {
    width: 1149px;
    height: 350px;
    border-radius: 10px;
}

.project_item:hover {
    transform: scale(1.1,1.1);
  }

.project_text{
    text-align: center;
}

.project_text h2{
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
}

.project_text h2:hover {
    color: #d3d3d3;
  }

.project_text p {
    margin: 8px 0 24px 0; 
    text-align: center;
}

/* Footer Section */

footer{
    margin-left: 142px;
    margin-right: 133px;
}

.footer_text{
    padding-top: 40px;  
}

.footer_text h2{
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
}

.social_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.icons_content{
    margin: auto;
    display: inline-block;
    margin-bottom: 40px;
}

.social {
    width: 24px;
    height: 24px;
    color: #010038;
}

.icon {
    margin: 8px;
    display: inline-block;
}
